body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

#gridContainer {
  margin-top: 50px;
  position: relative;
}

.gridCell {
  box-sizing: border-box;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
}

.gridCell.snake {
  background-color: black;
}

.gridCell.food {
  background-color: red;
}
